* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
}

body > #backdrop {
  width: 100%;
  height: 100%;
  background: url('../img/bg.png') no-repeat, rgba(0, 0, 0, .3);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(5px);
}

body > main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, .1);
  padding: 30px;
}

label {
  color: #fff;
  padding-bottom: 5px;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 30px;
}

button {
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-top: 5px;
  background: #9CCC65;
  color: #fff;
}